{
  "development": {
    "token": "<telegram-bot-token>",
    "keys": {
      "openrouter": "<token>"
    },
    "immunity": ["<telegram-username>", "..."]
  },
  "production": {
    "token": "<telegram-bot-token>",
    "keys": {
      "openrouter": "<token>"
    },
    "immunity": ["<telegram-username>", "..."]
  }
}
